<div class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Editing<i>
            <%= project.title %>
        </i>

    </h1>
</div>
<div class="col py-3">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                    <li class="breadcrumb-item active">
                        <%= project.title %>
                    </li>
                </ol>
            </nav>
        </div>
        <div class="col">

        </div>
    </div>
    <form action="/edit/<%= project._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
        <div class="col">
            <label for="file">image</label>
            <input type="file" class="form-control" id="image" name="imageUrl" value="<%= project.imageUrl %>"
                placeholder="image" required>
        </div>
        <div class="col">
        </div>
        <div class="row form-group mb-4">
            <div class="col">
                <label for="title">title</label>
                <input type="text" class="form-control" id="title" name="title" value="<%= project.title %>"
                    placeholder="title" required>
            </div>
            <div class="col">
                <label for="category">category</label>
                <select class="form-control form-select" id="category" name="category" value="<%= project.category %>">
                    <option value="Road construction">Road construction</option>
                    <option value="Waste management">Waste management</option>
                    <option value="Export/import">Export/import</option>
                    <option value="House construction">House construction</option>
                </select>
            </div>
        </div>
        <div class="form-group mb-4">
            <button type="submit" class="btn btn-primary">Update Project</button>
            <button type="submit" class="btn btn-danger">delete Project</button>
        </div>
    </form>
    <b>last Updated: <%= new Date(project.updatedAt).toUTCString() %></b>

</div>
<div class="col">
    <b>Project Id:</b>
    <%= project.id %>
</div>
</div>